# Board clock
LOCATE COMP "board_clock" SITE "P6";
IOBUF PORT "board_clock" IO_TYPE=LVCMOS33 PULLMODE=NONE;
FREQUENCY PORT "board_clock" 25 MHZ;

# RGB LED
LOCATE COMP "led[0]" SITE "B11";
LOCATE COMP "led[1]" SITE "A11";
LOCATE COMP "led[2]" SITE "A12";
IOBUF PORT "led[0]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "led[1]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "led[2]" PULLMODE=UP IO_TYPE=LVCMOS33;

# iCELink UART
LOCATE COMP "icelink_tx" SITE "B9";
LOCATE COMP "icelink_rx" SITE "A9";
IOBUF PORT "icelink_tx" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "icelink_rx" IO_TYPE=LVCMOS33 PULLMODE=UP;

# RS-485 PMOD
LOCATE COMP "rs485_re_" SITE "E4";
LOCATE COMP "rs485_tx" SITE "D4";
LOCATE COMP "rs485_rx" SITE "D5";
LOCATE COMP "rs485_de" SITE "R7";
IOBUF PORT "rs485_re_" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
IOBUF PORT "rs485_tx" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "rs485_rx" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "rs485_de" IO_TYPE=LVCMOS33 PULLMODE=UP;

# Port 2
# TODO: new naming convention.
# PMOD 1
LOCATE COMP "port_2[0]" SITE "B8";
LOCATE COMP "port_2[1]" SITE "B7";
LOCATE COMP "port_2[2]" SITE "B6";
LOCATE COMP "port_2[3]" SITE "B5";
IOBUF PORT "port_2[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "port_2[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "port_2[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "port_2[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# PMOD 2
LOCATE COMP "port_2[4]" SITE "A8";
LOCATE COMP "port_2[5]" SITE "A7";
LOCATE COMP "port_2[6]" SITE "A6";
LOCATE COMP "port_2[7]" SITE "A5";
IOBUF PORT "port_2[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "port_2[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "port_2[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "port_2[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# PMOD 3
LOCATE COMP "port_2[8]" SITE "B1";
LOCATE COMP "port_2[9]" SITE "C1";
LOCATE COMP "port_2[10]" SITE "D1";
LOCATE COMP "port_2[11]" SITE "F2";
IOBUF PORT "port_2[8]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "port_2[9]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "port_2[10]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "port_2[11]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# PMOD 3
LOCATE COMP "port_2[12]" SITE "A2";
LOCATE COMP "port_2[13]" SITE "B2";
LOCATE COMP "port_2[14]" SITE "C2";
LOCATE COMP "port_2[15]" SITE "E1";
IOBUF PORT "port_2[12]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "port_2[13]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "port_2[14]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "port_2[15]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# Extra pins
LOCATE COMP "port_2[16]" SITE "B4";
LOCATE COMP "port_2[17]" SITE "A4";
LOCATE COMP "port_2[18]" SITE "B3";
LOCATE COMP "port_2[19]" SITE "A3";
IOBUF PORT "port_2[16]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "port_2[17]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "port_2[18]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "port_2[19]" PULLMODE=NONE IO_TYPE=LVCMOS33;
